@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body, h1, h2, .content-text {
  font-family: "Krub", sans-serif;
}


.grid-bg {
  background-image:
    linear-gradient(to right, #e5e7eb 1px, transparent 1px),
    linear-gradient(to bottom, #e5e7eb 1px, transparent 1px);
  background-size: 20px 20px;
}

.dark .grid-bg {
  background-image:
    linear-gradient(to right, #374151 1px, transparent 1px),
    linear-gradient(to bottom, #374151 1px, transparent 1px);
}
